apiVersion: v1
kind: Service
metadata:
  name: code-indexer
  labels:
    app: code-indexer
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: code-indexer
